EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDj_htUYi1rnJKVL0EB0WAXzYDzfUBqEU4
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=teachflow-6bcef.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=teachflow-6bcef
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=teachflow-6bcef.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=161199879410
EXPO_PUBLIC_FIREBASE_APP_ID=1:161199879410:web:a716feb15ee1966f750c6b
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-32D4XZS24L
